/* line 5, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'yataghan';
  src: url("fonts/yataghan.ttf");
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadein-delayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadein-delayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* line 1, ../sass/components/_base.scss */
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
}

/* line 8, ../sass/components/_base.scss */
.hero-wrap {
  height: 100vh;
}

/* line 12, ../sass/components/_base.scss */
::-moz-selection {
  background: #ffdb6d;
}
::selection {
  background: #ffdb6d;
}

/* line 16, ../sass/components/_base.scss */
body {
  background: #80dff6;
  font-size: .6em;
}
@media screen and (min-width: 550px) and (max-width: 850px) {
  /* line 16, ../sass/components/_base.scss */
  body {
    font-size: .6em;
  }
}
@media screen and (min-width: 850px) and (max-width: 960px) {
  /* line 16, ../sass/components/_base.scss */
  body {
    font-size: .8em;
  }
}
@media screen and (min-width: 960px) {
  /* line 16, ../sass/components/_base.scss */
  body {
    font-size: 1em;
  }
}

/* line 35, ../sass/components/_base.scss */
.full-page {
  height: 100vh;
}

/* line 39, ../sass/components/_base.scss */
.center-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 550px) {
  /* line 46, ../sass/components/_base.scss */
  .desktop {
    display: none !important;
  }
}

/* line 3, ../sass/modules/_title.scss */
.tagline {
  font-family: "yataghan";
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: .5em;
  color: #dcf0fb;
  -webkit-animation: fadein-delayed 4s;
          animation: fadein-delayed 4s;
}

/* line 13, ../sass/modules/_title.scss */
.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 1, ../sass/modules/_button.scss */
.button {
  display: inline-block;
  background: #0b6683;
  text-align: center;
  text-decoration: none;
  color: #dcf0fb;
  font-family: "Muli";
  font-size: 2em;
  padding: .5em;
  margin: 0 .25em;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
/* line 13, ../sass/modules/_button.scss */
.button:hover {
  background: #5891A3;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}

/* line 19, ../sass/modules/_button.scss */
.button--contact {
  background: rgba(158, 122, 45, 0.6);
}
/* line 22, ../sass/modules/_button.scss */
.button--contact:hover {
  background: #9e7a2d;
}

/* line 28, ../sass/modules/_button.scss */
.button--faq img {
  height: .6em;
  opacity: 0;
  margin: 0 .1em;
  display: inline-block;
  -webkit-transition: opacity .25s linear;
          transition: opacity .25s linear;
}
/* line 36, ../sass/modules/_button.scss */
.button--faq.selected {
  color: #ffdb6d;
}
/* line 38, ../sass/modules/_button.scss */
.button--faq.selected img {
  opacity: 1;
}

/* line 1, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget {
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #dcf0fb;
  font-size: 2.5em;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
  padding-top: 1.5em;
}
@media screen and (min-width: 550px) {
  /* line 1, ../sass/modules/_mailjet-widget.scss */
  #mailjet-widget {
    font-size: 2em;
  }
}
/* line 14, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget .widget-label, #mailjet-widget input {
  margin-bottom: .25em;
}
/* line 18, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget button {
  background: none;
  border: 0.1em solid #dcf0fb;
  border-radius: .2em;
  font-family: 'Muli', sans-serif;
  color: #dcf0fb;
  font-size: 1em;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
}
/* line 29, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget button:hover {
  background: rgba(27, 103, 132, 0.6);
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
/* line 35, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget input {
  background: none;
  border: none;
  border-bottom: 0.1em solid #dcf0fb;
  font-family: 'Muli', sans-serif;
  color: #dcf0fb;
  font-size: .65em;
  padding-left: .2em;
  width: 70%;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}
/* line 47, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget ::-webkit-input-placeholder {
  color: rgba(220, 240, 251, 0.7);
}
/* line 51, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(220, 240, 251, 0.7);
}
/* line 55, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(220, 240, 251, 0.7);
}
/* line 59, ../sass/modules/_mailjet-widget.scss */
#mailjet-widget :-ms-input-placeholder {
  color: rgba(220, 240, 251, 0.7);
}

/* line 64, ../sass/modules/_mailjet-widget.scss */
.mailjet-widget-loader {
  display: none;
  width: 2%;
  padding: 0;
  -webkit-animation: none;
          animation: none;
}

/* line 71, ../sass/modules/_mailjet-widget.scss */
.mailjet-widget-status {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
  padding-top: .5em;
}
/* line 76, ../sass/modules/_mailjet-widget.scss */
.mailjet-widget-status.error {
  color: #c0392b;
}
/* line 80, ../sass/modules/_mailjet-widget.scss */
.mailjet-widget-status.success {
  color: green;
}

/* line 1, ../sass/modules/_media-grid.scss */
.media-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 7, ../sass/modules/_media-grid.scss */
.media-grid .media-item {
  width: 30%;
  padding: .5em;
}
/* line 11, ../sass/modules/_media-grid.scss */
.media-grid .media-item img {
  width: 100%;
}
/* line 16, ../sass/modules/_media-grid.scss */
.media-grid .full {
  width: 100%;
  padding: 1em;
}

/* line 1, ../sass/modules/_hero-background.scss */
#hero-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #80dff6;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #80dff6), color-stop(100%, #5eaaa8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #80dff6 50%, #5eaaa8 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #80dff6 50%, #5eaaa8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80dff6', endColorstr='#5eaaa8',GradientType=0 );
  /* IE6-9 */
}

/* line 26, ../sass/modules/_hero-background.scss */
.full-width {
  width: 100%;
}

/* line 30, ../sass/modules/_hero-background.scss */
.align-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 36, ../sass/modules/_hero-background.scss */
.align-top {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 42, ../sass/modules/_hero-background.scss */
.capitol {
  position: absolute;
  width: 95%;
  left: 38.5%;
}

/* line 48, ../sass/modules/_hero-background.scss */
.close-gap {
  bottom: -1px;
}

/* line 52, ../sass/modules/_hero-background.scss */
.arch {
  opacity: .5;
}

/* line 1, ../sass/modules/_hero.scss */
#hero-content {
  padding-top: 5vh;
  width: 100%;
}
@media screen and (min-width: 850px) {
  /* line 1, ../sass/modules/_hero.scss */
  #hero-content {
    width: 50%;
  }
}
@media screen and (min-width: 960px) and (max-height: 770px) {
  /* line 1, ../sass/modules/_hero.scss */
  #hero-content {
    font-size: .8em;
  }
}

/* line 14, ../sass/modules/_hero.scss */
.title {
  font-family: "yataghan";
  text-transform: uppercase;
  font-size: 5em;
  color: #dcf0fb;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding-bottom: .25em;
}

/* line 23, ../sass/modules/_hero.scss */
.gem {
  width: 21%;
}
@media screen and (min-width: 850px) {
  /* line 23, ../sass/modules/_hero.scss */
  .gem {
    width: 42%;
  }
}

/* line 31, ../sass/modules/_hero.scss */
.subtitle {
  font-family: "Muli";
  letter-spacing: .05em;
  text-transform: lowercase;
  font-size: 2em;
  color: #dcf0fb;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
}

/* line 40, ../sass/modules/_hero.scss */
.social-media-desktop {
  position: absolute;
  padding: 1em;
  font-size: 4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 46, ../sass/modules/_hero.scss */
.social-media-desktop a, .social-media-desktop a:visited {
  color: #0b6683;
}
@media screen and (max-width: 550px) {
  /* line 40, ../sass/modules/_hero.scss */
  .social-media-desktop {
    display: none;
  }
}

/* line 55, ../sass/modules/_hero.scss */
.social-media-mobile {
  font-size: 4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 59, ../sass/modules/_hero.scss */
.social-media-mobile a, .social-media-mobile a:visited {
  color: #dcf0fb;
  padding: .25em;
}
@media screen and (min-width: 550px) {
  /* line 55, ../sass/modules/_hero.scss */
  .social-media-mobile {
    display: none;
  }
}

/* line 69, ../sass/modules/_hero.scss */
.contacts {
  padding-top: .4em;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 1, ../sass/modules/_navbar.scss */
.active {
  color: #ffdb6d !important;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 11, ../sass/modules/_navbar.scss */
.navbar-nav {
  padding-top: -10px;
  background: #0b6683;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 18, ../sass/modules/_navbar.scss */
.header {
  width: 100%;
}

/* line 22, ../sass/modules/_navbar.scss */
#partners {
  background: rgba(220, 240, 251, 0.7);
  height: 60vh;
}

/* line 27, ../sass/modules/_navbar.scss */
.nav-decoration {
  height: 1.5em;
  margin: 0 .1em;
  display: inline-block;
}

/* line 1, ../sass/modules/_application.scss */
#application {
  display: none;
  background-color: #0b6683;
  color: #ffdb6d;
  font-family: "Muli";
}

/* line 8, ../sass/modules/_application.scss */
.crystals-top {
  margin-top: -1px;
}

/* line 12, ../sass/modules/_application.scss */
.crystals-bottom {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

/* line 16, ../sass/modules/_application.scss */
.mobile-application-header {
  margin: 2em;
  margin-right: 0;
}

/* line 21, ../sass/modules/_application.scss */
.mobile-application-logo {
  display: inline-block;
  width: 15%;
}

/* line 26, ../sass/modules/_application.scss */
.mobile-application-header-text {
  display: inline-block;
  width: 84%;
}
/* line 30, ../sass/modules/_application.scss */
.mobile-application-header-text h1 {
  text-transform: uppercase;
  font-size: 3em;
  padding-bottom: .05em;
  border-bottom: 0.2em solid #ffdb6d;
}
/* line 37, ../sass/modules/_application.scss */
.mobile-application-header-text h2 {
  font-size: 1.5em;
  padding-top: .5em;
}

/* line 43, ../sass/modules/_application.scss */
.application-column {
  margin: 2em;
}

/* line 47, ../sass/modules/_application.scss */
.section-label {
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
  padding: .75em 0;
}

/* line 54, ../sass/modules/_application.scss */
label {
  font-size: 1.5em;
}

/* line 58, ../sass/modules/_application.scss */
label, .checkbox-container {
  margin: .5em 0;
}

/* line 62, ../sass/modules/_application.scss */
.full-line-label {
  display: block;
  text-transform: uppercase;
}

/* line 67, ../sass/modules/_application.scss */
div.awesomplete {
  width: 100%;
}

/* line 71, ../sass/modules/_application.scss */
input[type="text"], input[type="email"] {
  background: none;
  border: none;
  border-bottom: 0.2em solid #ffdb6d;
  width: 100%;
}

/* line 79, ../sass/modules/_application.scss */
#freeResponse {
  display: block;
  width: 100%;
  height: 10em;
  margin: 1em 0;
  background-color: rgba(220, 240, 251, 0.7);
  border: none;
}

/* line 1, ../sass/modules/_about.scss */
#about {
  background: #0b6683;
  font-family: "Muli";
}

/* line 6, ../sass/modules/_about.scss */
#compass-container {
  width: 90%;
}

/* line 10, ../sass/modules/_about.scss */
.content-column, .graphic-column {
  width: 45%;
}
@media screen and (max-width: 600px) {
  /* line 10, ../sass/modules/_about.scss */
  .content-column, .graphic-column {
    width: 95%;
    max-width: 250px;
    margin: auto;
    font-size: 1.4em;
  }
}

/* line 21, ../sass/modules/_about.scss */
.content-column {
  padding-left: 1em;
}
@media screen and (max-width: 600px) {
  /* line 21, ../sass/modules/_about.scss */
  .content-column {
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  /* line 32, ../sass/modules/_about.scss */
  .graphic-column {
    display: none;
  }
}

/* line 39, ../sass/modules/_about.scss */
.column-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3em;
  padding-bottom: 6em;
}

/* line 47, ../sass/modules/_about.scss */
#compass-container {
  margin: auto;
}

/* line 51, ../sass/modules/_about.scss */
.about-header {
  color: #ffdb6d;
  font-weight: 700;
  font-size: 1.5em;
  margin: 1em 0;
}

/* line 58, ../sass/modules/_about.scss */
.about-body {
  color: #dcf0fb;
  font-size: 1.1em;
  line-height: 1.2em;
}

/* line 1, ../sass/modules/_faq.scss */
.questions {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 6%;
}
@media screen and (max-width: 550px) {
  /* line 1, ../sass/modules/_faq.scss */
  .questions {
    position: static;
    background: #d8f0fb;
  }
}
/* line 13, ../sass/modules/_faq.scss */
.questions.selected {
  display: block;
}
/* line 17, ../sass/modules/_faq.scss */
.questions ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 24, ../sass/modules/_faq.scss */
.questions h2 {
  color: #0b6683;
  font-size: 1.5em;
  padding-bottom: .5em;
}
/* line 30, ../sass/modules/_faq.scss */
.questions p {
  line-height: 1.2em;
  padding-bottom: .75em;
}
/* line 35, ../sass/modules/_faq.scss */
.questions li {
  width: 45%;
}
@media screen and (max-width: 550px) {
  /* line 35, ../sass/modules/_faq.scss */
  .questions li {
    width: 100%;
    font-size: 1.2em;
  }
}

/* line 45, ../sass/modules/_faq.scss */
.faq-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 50, ../sass/modules/_faq.scss */
#faq {
  background: #0b6683;
  font-family: "Muli";
  padding-bottom: 5em;
}

/* line 56, ../sass/modules/_faq.scss */
.faq-header {
  text-align: center;
  color: #ffdb6d;
  font-size: 5em;
  padding-bottom: .5em;
}

/* line 63, ../sass/modules/_faq.scss */
.question-container {
  position: relative;
}
@media screen and (max-width: 550px) {
  /* line 67, ../sass/modules/_faq.scss */
  .question-container img {
    display: none;
  }
}

/* line 1, ../sass/modules/_sponsors.scss */
#sponsors {
  position: relative;
  font-family: "Muli";
  overflow: hidden;
  padding-bottom: 5em;
  background: #8db17f;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8db17f), color-stop(100%, #8bd5ed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8db17f 0%, #8bd5ed 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #8db17f 0%, #8bd5ed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8db17f', endColorstr='#8bd5ed',GradientType=0 );
  /* IE6-9 */
}

/* line 17, ../sass/modules/_sponsors.scss */
.sponsor-header-image {
  position: absolute;
  width: 101%;
  top: -1%;
  z-index: 1;
}

/* line 24, ../sass/modules/_sponsors.scss */
.sponsor-header {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  color: #dcf0fb;
  font-size: 5em;
  padding-top: 15%;
}

/* line 34, ../sass/modules/_sponsors.scss */
.sponsor-subheader {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  color: #dcf0fb;
  font-size: .7em;
  padding-bottom: 6em;
}
/* line 43, ../sass/modules/_sponsors.scss */
.sponsor-subheader a {
  color: #ffdb6d;
  text-decoration: none;
}
/* line 47, ../sass/modules/_sponsors.scss */
.sponsor-subheader a:visited {
  color: #ffdb6d;
}

/* line 1, ../sass/modules/_footer.scss */
.footer {
  text-align: center;
  padding: .2em 0;
  font-family: Muli;
  font-weight: 100;
  background-color: #0b6683;
}
/* line 8, ../sass/modules/_footer.scss */
.footer .fa-diamond {
  color: #bdc3c7;
}
