/* line 5, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'yataghan';
  src: url("fonts/yataghan.ttf");
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadein-delayed {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadein-delayed {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
/* line 1, ../sass/components/_base.scss */
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
  height: 100vh;
}

/* line 9, ../sass/components/_base.scss */
body {
  background: #67bbd6;
  font-size: .35em;
}
@media screen and (min-width: 550px) and (max-width: 850px) {
  /* line 9, ../sass/components/_base.scss */
  body {
    font-size: .6em;
  }
}
@media screen and (min-width: 850px) and (max-width: 960px) {
  /* line 9, ../sass/components/_base.scss */
  body {
    font-size: .8em;
  }
}
@media screen and (min-width: 960px) {
  /* line 9, ../sass/components/_base.scss */
  body {
    font-size: 1em;
  }
}

/* line 26, ../sass/components/_base.scss */
.full-page {
  height: 100vh;
}

/* line 30, ../sass/components/_base.scss */
.center-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 3, ../sass/modules/_title.scss */
.title {
  font-family: "yataghan";
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: .5em;
  color: #27657a;
  padding-bottom: 1.5em;
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
}

/* line 15, ../sass/modules/_title.scss */
.tagline {
  font-family: "yataghan";
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: .5em;
  color: #27657a;
  -webkit-animation: fadein-delayed 5s;
          animation: fadein-delayed 5s;
}

/* line 25, ../sass/modules/_title.scss */
.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 29, ../sass/modules/_title.scss */
img {
  width: 95%;
  padding: 1.25em 0;
  -webkit-animation: fadein-delayed 5s;
          animation: fadein-delayed 5s;
}
