.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
}

body {
  background: $mainBackground;
}

.full-page {
  height: 100vh;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
