//Blues
$aqua: #67bbd6;
$deepBlue: #27657a;
$fadedDeep: #3B98B8;

//Reds
$alert: #c0392b;

//Base Colors
$mainBackground: $aqua;
$titleText: $deepBlue;
$widgetText: $deepBlue;
$widgetPlaceholder: $fadedDeep;
