//Blues
$aqua: #67bbd6;
$deepBlue: #27657a;
$fadedDeep: #3B98B8;
$lightblue: #89d5ed;
$porcelin: #dcf0fb;

//Reds
$alert: #c0392b;

//Base Colors
$mainBackground: $lightblue;
$titleText: $porcelin;
$widgetText: $deepBlue;
$widgetPlaceholder: $fadedDeep;
