//Blues
$aqua: #67bbd6;
$deepBlue: #0b6683;
$fadedDeep: rgba(27,103,132,.6);
$lightblue: #80dff6;
$porcelin: #dcf0fb;
$glass: rgba(220,240,251,.7);
$softSteel: #5891A3;

//Reds
$alert: #c0392b;

//Base Colors
$mainBackground: $lightblue;
$titleText: $porcelin;

$widgetText: $porcelin;
$widgetPlaceholder: $glass;

$socialMedia: $deepBlue;
$socialMediaMobile: $porcelin;

$button: $deepBlue;
$buttonActive: $softSteel;
$buttonFont: $porcelin;

$contactButton: $fadedDeep;
$contactButtonActive: $deepBlue;


$navbar: $deepBlue
