#hero-content {
  width: 50%;
}

.title {
  font-family: "yataghan";
  text-transform: uppercase;
  font-size: 5em;
  color: $titleText;
  text-shadow: 0 0 20px rgba(0,0,0,.5);
  padding-bottom: .25em;
}

.gem {

}

.subtitle {
  font-family: "Lora";
  letter-spacing: .05em;
  text-transform: lowercase;
  font-size: 2em;
  color: $titleText;
  text-shadow: 0 0 13px rgba(0,0,0,.7);
}

.social-media {
  position: absolute;
  padding: 1em;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  a, a:visited {
    color: $socialMedia
  }
}
